<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}kiosk_ytgd.log}"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36}.%M - %msg%n"/>
    <property name="FILE_LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n"/>

    <!-- Environment: Development -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
                <maxFileSize>20MB</maxFileSize>
                <totalSizeCap>2GB</totalSizeCap>
                <maxHistory>15</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- Specific loggers for verbose components -->
        <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="WARN"/>
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
        <logger name="org.springframework.security.web" level="INFO"/>
        <logger name="org.springframework.data.repository.config" level="WARN"/>
        <logger name="org.springframework.orm.jpa" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>

        <!-- Main application loggers -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.tnh.kiosk" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

    <!-- Environment: Production -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <totalSizeCap>5GB</totalSizeCap>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="SCHEDULE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/schedule.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/schedule.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>5000</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <appender-ref ref="FILE-ROLLING"/>
        </appender>

        <!-- Specific loggers for verbose components -->
        <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR"/>
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
        <logger name="org.springframework.security.web" level="WARN"/>

        <!-- Main application loggers -->
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.tnh.kiosk" level="INFO"/>
        <logger name="com.tnh.kiosk.components" level="INFO" additivity="false">
                <appender-ref ref="SCHEDULE_FILE"/>
                <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="payment.confirm" level="INFO" additivity="false">
            <appender-ref ref="PAYMENT_CONFIRM_FILE"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC-FILE"/>
        </root>
    </springProfile>

</configuration>
